flows.json
[{"id":"1dd5b655595e6d26","type":"tab","label":"Temperature Flow","disabled":false,"info":"","env":[]},{"id":"a3a82257db2539af","type":"tab","label":"TDS Sensor Flow","disabled":false,"info":"Purpose: Measures the concentration of dissolved solids (minerals, salts, metals) in water.\r\n\r\nFlow:\r\n\r\n    serial in: Reads raw TDS data from the sensor.\r\n\r\n    function: Processes the data to calculate TDS in ppm.\r\n\r\n    gauge: Displays TDS levels on the dashboard.\r\n\r\nKey Feature: Helps assess water purity and nutrient levels.","env":[]},{"id":"03e6baa9f609b591","type":"tab","label":"Turbidity Sensor Flow","disabled":false,"info":"Purpose: Detects water clarity by measuring light scattering (indicates debris, algae, or contamination).\r\n\r\nFlow:\r\n\r\n    mqtt in: Receives turbidity data from the sensor.\r\n\r\n    function: Processes the data to calculate turbidity levels (e.g., NTU).\r\n\r\n    chart: Displays historical turbidity trends on the dashboard.\r\n\r\nKey Feature: Monitors water quality to prevent contamination.","env":[]},{"id":"b61d7fe37bb03ff3","type":"tab","label":"pH Sensor Flow","disabled":false,"info":"Purpose: Monitors pH levels to maintain a stable environment for aquatic organisms and plants.\r\n\r\nFlow:\r\n\r\n    serial in: Reads raw pH data from the sensor.\r\n\r\n    function: Converts the data to the pH scale (0–14).\r\n\r\n    gauge: Displays pH levels on the dashboard.\r\n\r\n    file: Logs pH data for long-term analysis.\r\n\r\nKey Feature: Ensures pH remains within the optimal range for plant and fish health.","env":[]},{"id":"a9ab1dc00883a491","type":"tab","label":"Whatsapp Test","disabled":false,"info":"","env":[]},{"id":"5f65c774f078263c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca46ba00e09c1f67","type":"ui_tab","name":"Aquaponics - Main Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"f87faf9762d6602b","type":"ui_group","name":"Guage","tab":"ca46ba00e09c1f67","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"b30de00f7f77044f","type":"mqtt-broker","name":"HiveMQ Cloud Server","broker":"527cc327095a44d19f1f1dd6291d4a06.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3d265b7a00ca5be0","type":"node-red-contrib-whatsapp-cmb-account","name":"Shreyansh's Whatsapp"},{"id":"0b487a750e0df66f","type":"node-red-contrib-whatsapp-cmb-account","name":"Glory's Whatsapp"},{"id":"d7a67ff3f9791adc","type":"ui_group","name":"Charts","tab":"ca46ba00e09c1f67","order":2,"disp":true,"width":14,"collapse":false,"className":""},{"id":"14e3dd4190c0ef33","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":1,"width":9,"height":1},{"id":"67b1737719f35db9","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":3,"width":9,"height":1},{"id":"1d9bdcb6dde70d24","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":4,"width":9,"height":1},{"id":"3cda13526617b702","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":6,"width":9,"height":1},{"id":"d130a31f3601032d","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":7,"width":9,"height":1},{"id":"7f2be6522d699613","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":9,"width":9,"height":1},{"id":"4290a597d84646ee","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":10,"width":9,"height":1},{"id":"4a1b772b252db350","type":"ui_spacer","z":"1dd5b655595e6d26","name":"spacer","group":"f87faf9762d6602b","order":11,"width":9,"height":1},{"id":"09f820983de02c25","type":"debug","z":"1dd5b655595e6d26","name":"Temp Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"alert","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":280,"wires":[]},{"id":"d9dc074894374697","type":"node-red-contrib-whatsapp-cmb-send-message","z":"1dd5b655595e6d26","name":"Whatsapp Alert","credtype":"account","account":"3d265b7a00ca5be0","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":true,"x":880,"y":200,"wires":[[]]},{"id":"8c551ef77fb77488","type":"mqtt in","z":"1dd5b655595e6d26","name":"Temperature Input","topic":"esp32/sensors/temperature","qos":"0","datatype":"utf8","broker":"b30de00f7f77044f","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":300,"wires":[["20ba7e10c8fec78d"]]},{"id":"20ba7e10c8fec78d","type":"function","z":"1dd5b655595e6d26","name":"Check Tempreature","func":"// Convert payload to a number\nlet temperature = Number(msg.payload);\nlet temp_threshold = 25;\n\n// Check temperature conditions and add properties for routing\nif (temperature > temp_threshold) {\n    msg.alert = `Temperature is above ${temp_threshold}!`;\n} else {\n    msg.alert = null; // No alert needed\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["6c2b81f22806f43d","47662022bcea746d","4de5fa23fecd898b"]]},{"id":"6c2b81f22806f43d","type":"switch","z":"1dd5b655595e6d26","name":"Check If Needed To Alert","property":"alert","propertyType":"msg","rules":[{"t":"nnull"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":240,"wires":[["d9dc074894374697","09f820983de02c25"],["d9dc074894374697","09f820983de02c25"]]},{"id":"578b9ffedfab688a","type":"inject","z":"1dd5b655595e6d26","name":"Test Value: 30","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"str","x":110,"y":240,"wires":[["20ba7e10c8fec78d"]]},{"id":"6487c0078b8e9b85","type":"inject","z":"1dd5b655595e6d26","name":"Test Value: 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":110,"y":180,"wires":[["20ba7e10c8fec78d"]]},{"id":"47662022bcea746d","type":"ui_gauge","z":"1dd5b655595e6d26","name":"","group":"f87faf9762d6602b","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":570,"y":300,"wires":[]},{"id":"4de5fa23fecd898b","type":"ui_chart","z":"1dd5b655595e6d26","name":"Temperature Chart","group":"d7a67ff3f9791adc","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"30","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":400,"wires":[[]]},{"id":"6d348110702aeee7","type":"ui_gauge","z":"a3a82257db2539af","name":"TDS Gauge","group":"f87faf9762d6602b","order":5,"width":0,"height":0,"gtype":"gage","title":"TDS","label":"ppm","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":570,"y":400,"wires":[]},{"id":"ad7a02728ffb1377","type":"debug","z":"a3a82257db2539af","name":"TDS Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":40,"wires":[]},{"id":"b2079273109e72cf","type":"switch","z":"a3a82257db2539af","name":"Check TDS Range","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":40,"wires":[[],[]]},{"id":"203ccf063060033c","type":"debug","z":"a3a82257db2539af","name":"TDS Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"alert","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":400,"wires":[]},{"id":"f1a212b5d1b9c8e6","type":"node-red-contrib-whatsapp-cmb-send-message","z":"a3a82257db2539af","name":"Whatsapp Alert","credtype":"account","account":"3d265b7a00ca5be0","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":true,"x":880,"y":320,"wires":[[]]},{"id":"89b2d3dbb47e215c","type":"switch","z":"a3a82257db2539af","name":"Check If Needed To Alert","property":"alert","propertyType":"msg","rules":[{"t":"nnull"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":340,"wires":[["f1a212b5d1b9c8e6","203ccf063060033c"],["f1a212b5d1b9c8e6","203ccf063060033c"]]},{"id":"7f8d5c0aa6949cc1","type":"inject","z":"a3a82257db2539af","name":"Test Value: 2000","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2000","payloadType":"str","x":140,"y":340,"wires":[["f5e5bd74f1dfd58e"]]},{"id":"4a61bfe41e905d35","type":"inject","z":"a3a82257db2539af","name":"Test Value: 20","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":130,"y":220,"wires":[["f5e5bd74f1dfd58e"]]},{"id":"f5e5bd74f1dfd58e","type":"function","z":"a3a82257db2539af","name":"Check TDS Levels","func":"// Convert payload to a number\nlet value = Number(msg.payload);\n\n// Define thresholds\nlet threshold = 1000;\n\n// Initialize alert message\nmsg.alert = null;\n\n// Check and assign alert message based on thresholds\nif (value > threshold) {\n    msg.alert = \"TDS too high\";\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["89b2d3dbb47e215c","6d348110702aeee7","6bd155b9c93cef28"]]},{"id":"6e1c65709c4106f4","type":"mqtt in","z":"a3a82257db2539af","name":"TDS Input","topic":"esp32/sensors/tds","qos":"0","datatype":"utf8","broker":"b30de00f7f77044f","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":400,"wires":[["f5e5bd74f1dfd58e"]]},{"id":"b30a98ebc2b4c9db","type":"inject","z":"a3a82257db2539af","name":"Test Value: 200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"str","x":140,"y":280,"wires":[["f5e5bd74f1dfd58e"]]},{"id":"98bae2e16787feab","type":"comment","z":"a3a82257db2539af","name":"Does TDS need alert?","info":"","x":380,"y":300,"wires":[]},{"id":"6bd155b9c93cef28","type":"ui_chart","z":"a3a82257db2539af","name":"TDS Chart","group":"d7a67ff3f9791adc","order":2,"width":0,"height":0,"label":"TDS Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":460,"wires":[[]]},{"id":"69cee38ac0a5e2c5","type":"ui_chart","z":"03e6baa9f609b591","name":"Turbidity Chart","group":"d7a67ff3f9791adc","order":3,"width":0,"height":0,"label":"Turbidity (NTU)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":560,"wires":[[]]},{"id":"02c4fd746230ed5e","type":"debug","z":"03e6baa9f609b591","name":"Turbidity Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"alert","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":440,"wires":[]},{"id":"660ec8be5cf35eef","type":"node-red-contrib-whatsapp-cmb-send-message","z":"03e6baa9f609b591","name":"Whatsapp Alert","credtype":"account","account":"3d265b7a00ca5be0","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":true,"x":920,"y":360,"wires":[[]]},{"id":"3d2e7f80feee1326","type":"switch","z":"03e6baa9f609b591","name":"Check If Needed To Alert","property":"alert","propertyType":"msg","rules":[{"t":"nnull"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":380,"wires":[["660ec8be5cf35eef","02c4fd746230ed5e"],["660ec8be5cf35eef","02c4fd746230ed5e"]]},{"id":"9d95b717e7dcaca9","type":"inject","z":"03e6baa9f609b591","name":"Test Value: 2000","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2000","payloadType":"str","x":120,"y":380,"wires":[["7f33f72e92514d68"]]},{"id":"2bfae8b6169a72e3","type":"inject","z":"03e6baa9f609b591","name":"Test Value: 20","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":110,"y":260,"wires":[["7f33f72e92514d68"]]},{"id":"7f33f72e92514d68","type":"function","z":"03e6baa9f609b591","name":"Check Turbidity Levels","func":"// Convert payload to a number\nlet value = Number(msg.payload);\n\n// Define thresholds\nlet threshold = 1000;\n\n// Initialize alert message\nmsg.alert = null;\n\n// Check and assign alert message based on thresholds\nif (value > threshold) {\n    msg.alert = \"Turbidity too high\";\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[["3d2e7f80feee1326","87084978f3a46e6d","69cee38ac0a5e2c5"]]},{"id":"7b4fadc8a3ab4762","type":"mqtt in","z":"03e6baa9f609b591","name":"Turbidity Input","topic":"esp32/sensors/turbidity","qos":"0","datatype":"utf8","broker":"b30de00f7f77044f","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":440,"wires":[["7f33f72e92514d68"]]},{"id":"ca6cd7114f81f4d3","type":"inject","z":"03e6baa9f609b591","name":"Test Value: 200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"str","x":120,"y":320,"wires":[["7f33f72e92514d68"]]},{"id":"8f28e70feb104f78","type":"comment","z":"03e6baa9f609b591","name":"Does Turbidity need alert?","info":"","x":370,"y":340,"wires":[]},{"id":"87084978f3a46e6d","type":"ui_gauge","z":"03e6baa9f609b591","name":"Turbidity Guage","group":"f87faf9762d6602b","order":8,"width":0,"height":0,"gtype":"gage","title":"Turbidity","label":"ntu","format":"{{value}}","min":0,"max":"4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":620,"y":460,"wires":[]},{"id":"66a1717a2acc48fa","type":"ui_gauge","z":"b61d7fe37bb03ff3","name":"PH Guage","group":"f87faf9762d6602b","order":12,"width":0,"height":0,"gtype":"gage","title":"PH ","label":"","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":420,"wires":[]},{"id":"d3c12cd3397ccbca","type":"debug","z":"b61d7fe37bb03ff3","name":"PH Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"alert","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":420,"wires":[]},{"id":"501c113a78378e07","type":"node-red-contrib-whatsapp-cmb-send-message","z":"b61d7fe37bb03ff3","name":"Whatsapp Alert","credtype":"account","account":"3d265b7a00ca5be0","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":true,"x":860,"y":340,"wires":[[]]},{"id":"0d9fc369cc72c571","type":"switch","z":"b61d7fe37bb03ff3","name":"Check If Needed To Alert","property":"alert","propertyType":"msg","rules":[{"t":"nnull"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":360,"wires":[["501c113a78378e07","d3c12cd3397ccbca"],["501c113a78378e07","d3c12cd3397ccbca"]]},{"id":"685bbe88b66b1348","type":"inject","z":"b61d7fe37bb03ff3","name":"Test Value: 14","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"str","x":110,"y":360,"wires":[["7827d2943c24283c"]]},{"id":"4658e39212cde6a5","type":"inject","z":"b61d7fe37bb03ff3","name":"Test Value: 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":240,"wires":[["7827d2943c24283c"]]},{"id":"7827d2943c24283c","type":"function","z":"b61d7fe37bb03ff3","name":"Check pH Levels","func":"// Convert payload to a number\nlet value = Number(msg.payload);\n\n// Define acidic and basic thresholds\nlet acidic_threshold = 6.0;\nlet basic_threshold = 8.0;\n\n// Initialize alert message\nmsg.alert = null;\n\n// Check and assign alert message based on thresholds\nif (value <= acidic_threshold) {\n    msg.alert = `pH of water is acidic (below ${acidic_threshold})`;\n} else if (value >= basic_threshold) {\n    msg.alert = `pH of water is basic (above ${basic_threshold})`;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["0d9fc369cc72c571","66a1717a2acc48fa"]]},{"id":"4932a9fd4574b7bb","type":"mqtt in","z":"b61d7fe37bb03ff3","name":"pH Input","topic":"esp32/sensors/ph","qos":"0","datatype":"utf8","broker":"b30de00f7f77044f","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":420,"wires":[["7827d2943c24283c"]]},{"id":"1ef9c6e3f4fed5c4","type":"inject","z":"b61d7fe37bb03ff3","name":"Test Value: 7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":110,"y":300,"wires":[["7827d2943c24283c"]]},{"id":"f6dc3844ab341bc2","type":"inject","z":"a9ab1dc00883a491","name":"Test Value","props":[{"p":"alert","v":"Voilà, it works! 🥱🥱🥱","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":320,"y":180,"wires":[["6f4bd23f848b0bb6"]]},{"id":"6f4bd23f848b0bb6","type":"node-red-contrib-whatsapp-cmb-send-message","z":"a9ab1dc00883a491","name":"Whatsapp Alert","credtype":"account","account":"3d265b7a00ca5be0","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":false,"x":640,"y":180,"wires":[[]]},{"id":"1bf4b0007866261c","type":"node-red-contrib-whatsapp-cmb-send-message","z":"a9ab1dc00883a491","name":"Whatsapp Alert","credtype":"account","account":"0b487a750e0df66f","text":"alert","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":false,"x":640,"y":260,"wires":[[]]}]